@using Our.Umbraco.Ditto
@using v8umbracodesign.data.Models
@inherits UmbracoTemplatePage<Home>
@{
    Layout = "Master.cshtml";
    var backgroundImage = Model.Content.HeroBackgroundImage != null ? Model.Content.HeroBackgroundImage.Url : String.Empty;
    Home home = Model.Content.Site().As<Home>();
    Site site = Model.Content.Site().As<Site>();
}

<section id="banner">
    @if (home.SiteLogo != null && !string.IsNullOrEmpty(home.SiteLogo.Url))
    {
        <img src="@home.SiteLogo.GetCropUrl("Logo")" alt="@home.Sitename">
    }
    else
    {
        <a title="@home.Sitename" href="/">@home.Sitename</a>
    }
    <h2>@site.SiteName</h2>
    <p>@site.SiteDescription</p>
    <ul class="actions">
        <li><a href="#page-title" class="button">@site.SiteActionButtonTitle</a></li>
    </ul>
</section>
@Html.Raw(home.BodyText)